.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}

.task_create {
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
	padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 10px;
    border: 1px solid #82c1ef;
    outline: none;
    margin-bottom: 4px;
}

input:focus#task_create {
  border: 2px solid #82c1ef !important;
}

.task {
    padding: 8px;
    background-color: #f1f1f1;
    border-radius: 12px;
    margin-top: 4px;
    user-select: none;
}

.search {
    height: 36px;
	padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    border: none;
    border-bottom: 2px solid #82c1ef;
    transition: none !important;
}


.container-calendar {
    display: inline-block;
    background: #EAEEFF;
    border-radius: 5px;
    padding: 10px 0;
}

.container-calendar .container-info {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;
}

.container-calendar .container-info .nav {
    width: 10%;
    display: flex;
    justify-content: space-between;
}

.container-calendar .container-info .nav .next svg {
    transform: rotate(180deg);
}

.container-calendar .container-info .info {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    color: #404040;
    opacity: 0.8;
    font-weight: 400;
}

.container-calendar .container-info .info .month-info {
    font-weight: 700;
    margin-left: 5px;
}

#calendar {
    display: inline-block;
    margin: 10px;
}

#calendar thead th {
    padding: 12px 15px;
    text-align: center;
    border: none;
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
    line-height: 16px;
    opacity: 0.5;
    text-transform: lowercase;
}

#calendar tbody td,
#calendar tbody th {
    padding: 12px 15px;
    background: #FFFFFF;
    border: 1px solid #EAEEFF;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #404040;
    cursor: pointer;
}

#calendar tbody td:hover,
#calendar tbody th:hover {
    border: 1px solid #4E68EF;
}

#calendar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
}

#calendar .active {
    background: #4E68EF;
    border: 1px solid #EAEEFF;
    color: #FFFFFF;
}