.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}

.task_create {
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
	padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 10px;
    border: 1px solid #82c1ef;
    outline: none;
    margin-bottom: 4px;
}

input:focus#task_create {
  border: 2px solid #82c1ef !important;
}

.task {
    padding: 8px;
    background-color: #f1f1f1;
    border-radius: 12px;
    margin-top: 4px;
    user-select: none;
}

.search {
    height: 36px;
	padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    border: none;
    border-bottom: 2px solid #82c1ef;
    transition: none !important;
}

look-calendar {
    width:220px;
    border:1px solid #c0c0c0;
    padding:6px;
    margin: 0 auto;
  }
  #calendar {
    width: 100%;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;
    border-spacing:0px;
    max-width: 400px;
  }
  #calendar tr.dn td {
    font-size: 15px;
  }
  #calendar thead tr:last-child {
    font-size: small;
    color: #555555;
  }
  #calendar thead tr:nth-child(1) td:nth-child(2) {
    color: #323232;
  }
  #calendar thead tr:nth-child(1) td:nth-child(1):hover,
  #calendar thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
  }
  #calendar tbody td {
    color: #2c567a;
  }
  #calendar tbody td:nth-child(n+6),
  #calendar .holiday {
    color: #e78c5c;
  }
  #calendar tbody td.today {
    border-radius: 4px;
    background: #287efd;
    color: #fff;
  }

