<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Api help</title>
</head>
<body>
----получение всех пользователей----
методы:
	GET
адрес:
	"/api/users"
параметры:
	не нужны
пример запроса на питоне:
	response = requests.get('http://127.0.0.1:8080/api/users')
	print(response.json())
пример ответа:
	{'users': [{'email': 'glokback@gmail.com', 'id': 1, 'name': 'svoy'}]}

----регистрация нового пользователя----
методы: POST
адрес: "/api/register"
json: {name, email, password}
пример запроса на питоне:
	response = requests.post('http://127.0.0.1:8080/api/register', json={"name": input(), "email": input(), "password": input()})
пример ответа:
	{'token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2NDk4MDY1MjMsImlhdCI6MTY0OTgwMjkyMywibmJmIjoxNjQ5ODAyOTIzLCJ1c2VyIjp7ImlkIjoxMSwibmFtZSI6IjEiLCJlbWFpbCI6IjEifX0.AUDPFxt4dWUxlwBt_jDzzT0DZuirZFbCTQZPQFwgbiI'}

----авторизация зарегистрированного пользователя----
методы: GET
адрес: '/api/login'
json: {email, password}
пример запроса на питоне:
	response = requests.get('http://127.0.0.1:8080/api/login', json={"email": input(), "password": input()})
пример ответа:
	{'token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2NDk4MDcyNjcsImlhdCI6MTY0OTgwMzY2NywibmJmIjoxNjQ5ODAzNjY3LCJ1c2VyIjp7ImlkIjoxLCJuYW1lIjoic3ZveSIsImVtYWlsIjoiZ2xva2JhY2tAZ21haWwuY29tIn19._G1UkfCs6rROeuNmd7kG3nUfHBUkzPeBr4PX7pfehdk'}

----получить задачи пользоваателя----
методы: GET
адрес:
json:
пример запроса на питоне:
пример ответа:

----загрузка новых задач----
методы:
адрес:
json:
пример запроса на питоне:
пример ответа:

----редактирование задач----
методы:
адрес:
json:
пример запроса на питоне:
пример ответа:

----удаление задач----
методы:
адрес:
json:
пример запроса на питоне:
пример ответа:


</body>
</html>