{% extends "base.html" %}

{% block content %}
<form action="" method="post" id="task_create" style="margin-top: 4px">
    {{ form.hidden_tag() }}
    {{ form.task_title(class="task_create", placeholder="Добавить задачу", id="task_create") }}<br>
    {% for error in form.task_title.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    <div style="color: red;">{{ message }}</div>
</form>
<script>
    const form = document.getElementById("task_create")
    form.addEventListener("keydown", (event) => {
        if (event.code === "Enter") {
            form.submit()
        }
    })

    const search = document.getElementById("search_task")
    search.value = '{{search_data}}'
    search.addEventListener('click', () => {
        search.addEventListener("search", (event) => {
            const href = window.location.href.split("/")
                if ({{lower(complete)}}) {
                    window.location.replace(href.slice(0, 4).join("/") + "/" + search.value)
                } else {
                    window.location.replace(href.slice(0, 3).join("/") + "/" + search.value)
                }
        })
    })
</script>
{% for task in tasks_data %}
    <div class="task">
        <div class="form-check">
          {% if task.complete %}
              <input class="form-check-input" type="checkbox" value="" id="{{task.id}}" checked style="cursor: pointer">
          {% else %}
            <input class="form-check-input" type="checkbox" value="" id="{{task.id}}" style="cursor: pointer">
          {% endif %}
          <label class="form-check-label" for="{{task.id}}" style="cursor: pointer">
            {{task.title}}
          </label>
        </div>
    </div>
    <script>
        function getCookie(name) {
            let matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
        }

        var jwtoken = getCookie("jwt")

        document.getElementById('{{task.id}}').addEventListener("click", (event) => {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/api/tasks/change/' + '{{task.id}}', false);
            xhr.setRequestHeader('Authorization', 'Bearer ' + jwtoken);
            xhr.send();
            window.location.reload();
        })




        </script>
        {% endfor %}
        {% if not tasks_data %}
        <p style="margin-top: 12px">Кажется, тут пусто</p>
        {% endif %}
    </div>

    <div style="float:right; width: 70%; ">
        {% if task_name == None %}
        <div style="text-align: center;">
            <img style=" width:50%; position: relative" src="../static/img/fortnite_food.jpg">
            <h3> Задача не выбрана</h3>
        </div>
        {% else %}
        <h3>{{task_name}}</h3>
        <form action="{{ url_for('first_handler') }}" method="post" enctype="multipart/form-data">
            {{ change_form.hidden_tag() }}
            <p>{{ change_form.complete() }} {{ change_form.complete.label }}</p>
            <p>{{ change_form.submit(type="submit", class="btn btn-primary") }}</p>
            <div>{{ message }}</div>
            <p>
                {{change_form.date.label}}<br>
                {{ change_form.date(class="form-control") }}<br>
                {% for error in change_form.date.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            </p>
            <p>
                {{ change_form.description.label }}<br>
                {{ change_form.description(class="form-control") }}<br>
                {% for error in change_form.description.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            </p>
            <p>
                {{change_form.file.label}}<br>
                {{ change_form.file(class="form-control") }}<br>
                {% for error in change_form.file.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            </p>


        </form>
        {%endif%}
    </div>
</div>
{% endblock %}