{% extends "base.html" %}

{% block content %}
<form action="" method="post" id="task_create" style="margin-top: 4px">
    {{ form.hidden_tag() }}
    {{ form.task_title(class="task_create", placeholder="Добавить задачу", id="task_create", maxlength="30") }}<br>
    {% for error in form.task_title.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    <div style="color: red;">{{ message }}</div>
</form>
<script>
    const search = document.getElementById("search_task")
    search.value = '{{search_data}}'
</script>
<script src="http://127.0.0.1:8080/static/js/index.js"></script>
<div>
    <div>
        <div style="float:left; width: 30%">
            {% for task in tasks_data %}
            <div class="task" style="display: flex">
                <div class="form-check" style="width: 100%; overflow: hidden; text-overflow: ellipsis;">
                    {% if task.complete %}
                    <input class="form-check-input" type="checkbox" value="" id="{{task.id}}" checked
                           style="cursor: pointer">
                    {% else %}
                    <input class="form-check-input" type="checkbox" value="" id="{{task.id}}" style="cursor: pointer">
                    {% endif %}
                    <label class="form-check-label" for="{{task.id}}" style="cursor: pointer; text-overflow: ellipsis;">
                        {{task.title}}
                    </label>
                </div>
                <div style="cursor: pointer; min-width: 20px" id="clickable_{{task.id}}">
                    <img style="height: 16px; margin-left: 4px" src="http://127.0.0.1:8080/static/img/arrow.png">
                </div>
            </div>
            <script>
                document.getElementById('{{task.id}}').addEventListener("click", (event) => {
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/api/tasks/change/' + '{{task.id}}', false);
                    xhr.setRequestHeader('Authorization', 'Bearer ' + jwtoken);
                    xhr.send();
                    window.location.reload();
                })

                document.getElementById('clickable_{{task.id}}').addEventListener("click", (event) => {
                    const href = window.location.href.split("/").slice(0, 3)
                    if ({{lower(complete)}}) {
                        href.push('complete_task')
                    } else {
                        href.push('task')
                    }
                    href.push('{{task.id}}')
                    window.location.replace(href.join("/"))
                })
            </script>
            {% endfor %}
        </div>

        {% if not tasks_data %}
        <p style="margin-top: 12px">Кажется, тут пусто</p>
        {% endif %}

        <div style="float:right; width: 60%; top: 40px ">
            {% if curr_task %}
            <h3>{{curr_task.title}}</h3>
            <h6>Создано:
                {{curr_task.creation_date.day}}.{{curr_task.creation_date.month}}.{{curr_task.creation_date.year}}</h6>
            <form action="{{ url_for('first_handler', task_name=curr_task.id) }}" method="post"
                  enctype="multipart/form-data">
                {{ change_form.hidden_tag() }}
                <p>{{ change_form.submit(type="submit", class="btn btn-primary") }}</p>
                    <img id="delete" src="http://127.0.0.1:8080/static/img/trash_bin.png" style="height: 30px; margin-left: 4px">
                <script>
                    document.getElementById('delete').addEventListener("click", (event) => {
                        var xhr = new XMLHttpRequest();
                        xhr.open('DELETE', '/api/tasks/delete/' + '{{curr_task.id}}', false);
                        xhr.setRequestHeader('Authorization', 'Bearer ' + jwtoken);
                        xhr.send();
                        window.location.reload();
                    })
                </script>

                <div>{{ message }}</div>
                <p>
                    {{change_form.date.label}}<br>
                    {{ change_form.date(class="form-control") }}<br>
                    {% for error in change_form.date.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
                <p>
                    {{ change_form.description.label }}<br>
                    {{ change_form.description(class="form-control") }}<br>
                    {% for error in change_form.description.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
                <p>
                    {{change_form.file.label}}<br>
                    {{ change_form.file(class="form-control") }}<br>
                    {% for error in change_form.file.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
                {% for file in files%}
                <a href="/get_file/{{file.filename}}" download="">файл_{{file.id}}</a>
                <img src="./../static/img/trash_bin.png" style="height: 16px; margin-left: 4px" id="file{{file.id}}">
                <script>

                document.getElementById('file{{file.id}}').addEventListener("click", (event) => {
                    var xhr = new XMLHttpRequest();
                    xhr.open('DELETE', '/api/delete/file/by/id/' + '{{file.id}}/{{curr_task.id}}', false);
                    xhr.setRequestHeader('authorization', 'Bearer ' + jwtoken);
                    xhr.send();
                    window.location.reload();
                })

                </script>
                <br>
                {% endfor %}
                <br>
                <br>

            </form>

            {%endif%}
        </div>
    </div>
    {% endblock %}