<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="http://127.0.0.1:8080/static/css/style.css"
    >
    <title>Mega ToDo</title>
</head>
<body>
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="../static/img/intro.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="500" height="500">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Mega ToDo</h1>
        <p class="lead">Инструмент для управления и хранения задач. Способен улучшить продуктивность и помочь в организации работы, планирования дня или недели.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a type="button" class="btn btn-primary btn-lg px-4 me-md-2" href="/register">Зарегистрироваться</a>
          <a type="button" class="btn btn-outline-secondary btn-lg px-4" href="/login" style="margin-left: 8px">Войти</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
