{% extends "base.html" %}

{% block content %}
<div class="card" style="margin-top: 12px">
    <div class="card-body">
        <h5 class="card-title">Изменить имя пользователя</h5>
        <input id="name" class="form-control" placeholder="Новое имя" >
        <a href="/" class="btn btn-primary" style="margin-top: 6px">Сохранить</a>
    </div>
</div>
<div class="card" style="margin-top: 12px">
    <div class="card-body">
        <h5 class="card-title">Выйти из аккаунта и завершить сессию</h5>
        <a href="/logout" class="btn btn-primary">Выйти</a>
    </div>
</div>
{% endblock %}