{% extends "base.html" %}

{% block content %}
<div class="card" style="margin-top: 12px">
    <form action="" method="post" class="card-body" id="name_change">
        <h5 class="card-title">Изменить имя пользователя</h5>
        {{ form.hidden_tag() }}
        {{ form.name(class="form-control", placeholder="Новое имя") }}<br>
            {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div style="color: red;">{{ message }}</div>
    </form>
    <script>
        const form = document.getElementById("name_change")
        form.addEventListener("keydown", (event) => {
        if (event.code === "Enter") {
            form.submit()
        }
        })
    </script>
</div>
<div class="card" style="margin-top: 12px">
    <div class="card-body">
        <h5 class="card-title">Выйти из аккаунта и завершить сессию</h5>
        <a href="/logout" class="btn btn-primary">Выйти</a>
    </div>
</div>
{% endblock %}